.notification-list {
    position: absolute;
    margin: auto;
    width: 20em;
    left: 0;
    right: 0;

    .notification {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin-top: 1em;
        border-radius: 5px;


        button {
            border: 0;
            background: none;
            color: @white;
            cursor: pointer;
        }

        &.fade-enter {
            opacity: 0.01;
        }

        &.fade-enter.fade-enter-active {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }

        &.fade-exit {
            opacity: 1;
        }
        &.fade-exit.fade-exit-active {
            opacity: 0.01;
            transition: opacity 200ms ease-in;
        }

        &.success {
            color: @white;
            background-color: @notification-green;
        }

        &.error {
            color: @white;
            background-color: @notification-red;
        }
    }
}